@import "~src/styles/colors";
@import "~src/styles/padding";

:host {
  margin: 0;
  padding: $default-padding;
  background-color: $dark-blue;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

h1 {
  color: $light-text;
}