@import "~src/styles/colors";

button {
  background-color: $light-blue;
  border-radius: 0.5rem;
  border: 0;
  padding: 8px;
  min-width: 128px;
  font-size: 14px;
  cursor: pointer;

  margin: 0 4px;

  &:hover {
    border: solid 1px $orange;
    box-shadow: 1px 1px 12px 1px $light-blue;
    font-weight: 700;
    color: $light-text;
    background-color: $blue;

    padding: 10px;
    transition: ease 0.1s;
  }

  &.disabled {
    background-color: $gray;
    cursor: not-allowed;
    color: $light-text;
  }
}


button.accept {
  background-color: $green;

  &:hover {
    background-color: $orange;
  }
}
