@import "~src/styles/colors";

button {
  background-color: $light-blue;
  border-radius: 0.5rem;
  border: 0;
  padding: 8px;
  min-width: 128px;
  font-size: 14px;
  cursor: pointer;

  margin: 0 4px;

  &.accept {
    background-color: $green;
  }

  &.disabled {
    background-color: $gray;
    cursor: not-allowed;
    color: $light-text;
  }
}
