<ks-profile-edit-menu [isSaving]="isSaving"
                      (saveChanges)="saveChanges()"
                      (cancel)="onCancel()"
></ks-profile-edit-menu>

<ks-message *ngIf="hasError" [type]="'error'" [message]="error.message"></ks-message>
<ks-message *ngIf="savedSuccess" [type]="'success'" [message]="'Saved!'"></ks-message>

<ks-card>
    <ks-input [label]="'PROFILE.FIRST_NAME'|translate" [control]="firstName"></ks-input>
    <ks-input [label]="'PROFILE.LAST_NAME'|translate" [control]="lastName"></ks-input>
    <ks-select [label]="'PROFILE.LANGUAGE'|translate"
               [options]="getLanguagesAsOptions()"
               [control]="languageId"></ks-select>
    <ks-input [label]="'PROFILE.AVERAGE_HOURS_PER_DAY'|translate" [control]="averageNumberOfHoursPerDay"></ks-input>
</ks-card>
