@import "~src/styles/fonts";
@import "~src/styles/forms";

:host {
  padding: 4px;
}

input {
  @extend .f2;
  @extend .input-select;
  border: solid 1px $light-text;

  &:focus {
    border: solid 1px $dark-blue;
    box-shadow: 1px 1px 6px 1px $light-text;
  }
}

