@import "~src/styles/colors";

div {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
}

img {
  width: 20%;
  height: 20%;

  max-width: 128px;
  max-height: 128px;

  border-radius: 50%;
  text-align: right;
}

.name {
  padding: 0 0 0 32px;
  font-size: 1.5em;
  text-align: right;
  color: $light-text;
}
