@import "~src/styles/_colors";
@import "~src/styles/_padding";

:host {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  width: 100%;
  margin: 0;
  padding: $default-padding;

  background-color: $dark-blue;
}

h1 {
  color: $light-text;
}